In [33]:
import pandas as pd
from pandas import *
import numpy as np
from numpy.random import randn
data=DataFrame(np.random.randn(5,3),columns=['a','b','c'])
data

          a         b         c
0 -0.439098 -0.189403 -2.097760
1  0.056900  1.117875 -0.603747
2 -1.169321 -0.428659  0.854044
3 -0.366436  1.397263 -0.340430
4  0.494831  0.411069 -0.180972

In [34]:
### Writing equation
data['d']=(data.a+data.b)/data.c
data

          a         b         c         d
0 -0.439098 -0.189403 -2.097760  0.299606
1  0.056900  1.117875 -0.603747 -1.945806
2 -1.169321 -0.428659  0.854044 -1.871075
3 -0.366436  1.397263 -0.340430 -3.028018
4  0.494831  0.411069 -0.180972 -5.005754

In [35]:
### Using apply() and lambda
data['e']=data.apply(lambda x: x.max()-x.min(), axis=1)
data

          a         b         c         d         e
0 -0.439098 -0.189403 -2.097760  0.299606  2.397366
1  0.056900  1.117875 -0.603747 -1.945806  3.063681
2 -1.169321 -0.428659  0.854044 -1.871075  2.725119
3 -0.366436  1.397263 -0.340430 -3.028018  4.425281
4  0.494831  0.411069 -0.180972 -5.005754  5.500584