In [2]:
import numpy as np
from numpy.random import randn
import pandas as pd
data = np.random.rand(20)
print data

[ 0.07544418  0.72124885  0.5112292   0.83066204  0.37268538  0.62688446
  0.51341128  0.6552007   0.38772994  0.0904216   0.44841322  0.18547303
  0.81830075  0.19906634  0.59230973  0.47074338  0.32087937  0.36003158
  0.9561651   0.11716095]

In [3]:
pd.cut(data, 4, precision=2) ### equal length bins

[(0.075, 0.3], (0.52, 0.74], (0.3, 0.52], (0.74, 0.96], (0.3, 0.52], ..., (0.3, 0.52], (0.3, 0.52], (0.3, 0.52], (0.74, 0.96], (0.075, 0.3]]
Length: 20
Categories (4, object): [(0.075, 0.3] < (0.3, 0.52] < (0.52, 0.74] < (0.74, 0.96]]

In [12]:
intervals=pd.qcut(data, 4) ### equal number of datapoints in each interval
print pd.value_counts(intervals)

(0.634, 0.956]    5
(0.46, 0.634]     5
(0.29, 0.46]      5
[0.0754, 0.29]    5
dtype: int64

In [2]:
import pandas as pd
from pandas import *
frame = DataFrame({'data1': np.random.randn(1000),'data2': np.random.randn(1000)})
factor = pd.cut(frame.data1, 4)
def get_stats(group):
    return {'min': group.min(), 'max': group.max(),'count': group.count(), 'mean': group.mean()}
grouped = frame.data1.groupby(factor)
grouped.apply(get_stats).unstack()

                  count       max      mean       min
data1
(-3.4, -1.754]       43 -1.754337 -2.144948 -3.393306
(-1.754, -0.114]    410 -0.115254 -0.738848 -1.749691
(-0.114, 1.525]     477  1.522725  0.568646 -0.113717
(1.525, 3.165]       70  3.164936  1.929731  1.529369