In [1]:
### read_csv
import pandas as pd
from pandas import DataFrame, read_csv
st = pd.read_csv('student-mat.csv',sep=';') ### You can change the delimiter
print st.head()

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1  at_home     other ...
2     GP   F   15       U     LE3       T     1     1  at_home     other ...
3     GP   F   15       U     GT3       T     4     2   health  services ...
4     GP   F   16       U     GT3       T     3     3    other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [2]:
### read_table
import pandas as pd
from pandas import DataFrame, read_csv
st = pd.read_table('student-mat.csv',sep=';') ### You can change the delimiter
print st.head()

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1  at_home     other ...
2     GP   F   15       U     LE3       T     1     1  at_home     other ...
3     GP   F   15       U     GT3       T     4     2   health  services ...
4     GP   F   16       U     GT3       T     3     3    other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [3]:
### Excel File
xls_file = pd.ExcelFile('test.xlsx')
table = xls_file.parse('Sheet1')
table

   Name Gender  age
0  Alex      M   20
1   Sue      F   30
2  John      M   22
3  Mary      F   25

In [5]:
### JSON data format
import json
obj = """
{
"name": "Wes", 
"places_lived": ["United States", "Spain", "Germany"], 
"pet": "cat", 
"siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
             {"name": "Katie", "age": 33, "pet": "Cisco"}] }"""

In [6]:
### Convert JSON string to python form
result = json.loads(obj)
result

{u'name': u'Wes',
 u'pet': u'cat',
 u'places_lived': [u'United States', u'Spain', u'Germany'],
 u'siblings': [{u'age': 25, u'name': u'Scott', u'pet': u'Zuko'},
  {u'age': 33, u'name': u'Katie', u'pet': u'Cisco'}]}

In [7]:
### Extracting some data frame from JSON data format
siblings = DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   25
1  Katie   33

In [8]:
### Back to JSON
asjson = json.dumps(result)
asjson

'{"pet": "cat", "siblings": [{"pet": "Zuko", "age": 25, "name": "Scott"}, {"pet": "Cisco", "age": 33, "name": "Katie"}], "name": "Wes", "places_lived": ["United States", "Spain", "Germany"]}'