In [13]:
import pandas 
from pandas import *
import numpy as np
data = DataFrame(np.arange(12).reshape((3, 4)),
                 index=['Ohio', 'Colorado', 'New York'],
                 columns=['one', 'two', 'three', 'four'])
print data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [14]:
data.index = data.index.map(str.upper)
print data

          one  two  three  four
OHIO        0    1      2     3
COLORADO    4    5      6     7
NEW YORK    8    9     10    11

In [15]:
data=data.rename(columns=str.upper)
print data

          ONE  TWO  THREE  FOUR
OHIO        0    1      2     3
COLORADO    4    5      6     7
NEW YORK    8    9     10    11

In [16]:
data=data.rename(index={'OHIO': 'INDIANA'},columns={'THREE': 'NEW THREE'})
print data

          ONE  TWO  NEW THREE  FOUR
INDIANA     0    1          2     3
COLORADO    4    5          6     7
NEW YORK    8    9         10    11